
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #E7E7E7;
    color: #2F2F2F;
}

/*  NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #F4A7B9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2F2F2F;
    text-decoration: none;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #2F2F2F;
    font-weight: bold;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #D65380;
}

/*FORMULARIO LOGIN */
.form-container {
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.login-form label {
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 100%;
    background-color: #D65380;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.login-form button:hover {
    background-color: #b8426a;
}

/*TABLA DE PLANES*/
.tabla-planes {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.tabla-planes th {
    background: #F4A7B9;
    padding: 12px;
    font-size: 18px;
}

.tabla-planes td {
    text-align: center;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

/*SERVICIOS (GRID)*/
.grid-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.grid-servicios article {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

/*CONSEJOS (GRID)*/
.grid-consejos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px;
}

.grid-consejos img {
    width: 100%;
    border-radius: 10px;
}

.grid-consejos article {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

/*FOOTER */
footer {
    background-color: #F4A7B9;
    padding: 15px;
    text-align: center;
    color: #2F2F2F;
    font-weight: bold;
    margin-top: 40px;
}
